# Environment variables declared in this files are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#JWT
JWT_SECRET=""

#POSTGRES
DATABASE_URL="postgresql://postgres:password@dbname:port/postgres?schema=your-schema"

PORT="3000"

#S3 STORAGE
S3_BUCKET_NAME=""
S3_ACCESS_ID=""
S3_SECRET_KEY=""
S3_ENDPOINT="https://s3.timeweb.cloud"
S3_REGION="ru-1"

#REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=your_password
REDIS_DATABASE=1
REDIS_KEY_PREFIX=nest-auth

#SWAGGER
SWAGGER_SITE_TITLE="Healthy API"
SWAGGER_DOC_TITLE="Healthy API"
SWAGGER_DOC_DESCRIPTION="Rebyata ono jivoee 👨‍💻"
SWAGGER_DOC_VERSION=0.0.1

#CORS
CORS_ORIGIN="http://localhost:4200"

#SMTP
MAIL_HOST=smtp.google.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_SERVICE=gmail
MAIL_USER=email@gmail.com
MAIL_PASS=your-password
MAIL_FROM="No Reply"
